.pagination-button {
  min-width: 32px;
  min-height: 32px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #F1F1F1;

  &.current {
    color: #ffffff;
    background-color: #2F80ED;
  }

  &.elipsis {
    border: none;

    &:hover {
      background-color: unset;
    }
  }

  &.with-string {
    border: none;
  }

  &[button-style="DEFAULT"]  {
    border-radius: 8px;
  }

  &[button-style="CIRCLE"]  {
    border-radius: 32px;
  }

  &:disabled:not(.current, .elipsis) {
    border-color: #F1F1F1;
    color: #CCCCCC;
  }

  &:hover:not(:disabled, .current, .elipsis) {
    color: #333333;
    background-color: #F1F1F1;
  }
}
