<div class="blog-grid-wrapper">
  <div class="blog-grid">
    <ng-container *ngIf="loading">
      <div>
        Loading posts...
      </div>
    </ng-container>

    <ng-container *ngIf="!loading && !loadError">
        <div class="blog-post" *ngFor="let post of blogPosts; trackBy: trackByFn">
          <div class="blog-post__image">
            <img [src]="post.photo_url" alt="Blog post image">
          </div>
          <div class="blog-post__heading">
            <h3>{{post.title}}</h3>
          </div>
          <div class="blog-post__description">
            <p>{{post.description}}</p>
          </div>
        </div>
    </ng-container>
  </div>

  <div class="grid-pagination">
    <wc-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [pagesToShow]="pagesToShow"
      withElipsis
      (pagination-change)="onPaginationChange($event)"
    ></wc-pagination>
  </div>

  <ng-container *ngIf="loadError">
    <p>Something went wrong...</p>
  </ng-container>

</div>
